nav {
    background: #00CED1;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/* SIDEBAR */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: #111;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
    z-index: 999;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    background: #333;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
}


/* MENU BUTTON */
.menu-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 25px;
    padding: 10px 15px;
    background: #00CED1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}


/* Loading Screen */


#loader {


    position: fixed;


    width: 100%;


    height: 100%;


    background: #4B0082;


    top: 0;


    left: 0;


    display: flex;


    justify-content: center;


    align-items: center;


    z-index: 9999;


    color: white;


    transition: 1s;


}



.loader-content {


    text-align: center;


}



.robot {


    font-size: 70px;


    animation: robotMove 1s infinite alternate;


}



.loader-content h2 {


    font-size: 35px;


    color: white;


}



.loader-content p {


    font-size: 18px;


}



/* Robot Animation */


@keyframes robotMove {


    from {

        transform: translateY(0);

    }


    to {

        transform: translateY(-15px);

    }


}



/* Hide Loader */


.loader-hide {


    opacity: 0;

    visibility: hidden;


}




.theme-btn {

    position: absolute;

    top: 20px;

    right: 20px;

    width: 50px;

    height: 50px;

    border: none;

    border-radius: 50%;

    background: white;

    cursor: pointer;

    font-size: 24px;

    transition: 0.3s;

    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);

}

.theme-btn:hover {

    transform: scale(1.1);

}


.dark-mode {

    background: #121212;
    color: white;

}

.dark-mode nav {

    background: #222;

}

.dark-mode .card {

    background: #1e1e1e;
    color: white;

}

.dark-mode table {

    background: #2a0052;

}

.dark-mode a {

    color: white;

}

.dark-mode .footer {

    background: #080808;

}

.dark-mode table {
    background: #121212;
    color: #ffffff;
    border-collapse: collapse;
}

.dark-mode th {
    background: #4B0082;
    color: white;
}

.dark-mode tr:nth-child(even) td {
    background: #1e1e1e;
}

.dark-mode tr:nth-child(odd) td {
    background: #151515;
}

/* Futuristic Hero */


.hero {


    padding: 50px 20px;

    text-align: center;


    background:

        linear-gradient(135deg,
            #4B0082,
            #00cfd5);


    color: white;


    border-radius: 0 0 40px 40px;


    animation: heroMove 8s infinite alternate;


}



.hero img {


    width: 70%;


    max-width: 900px;


    border-radius: 25px;


    margin: 25px;


    box-shadow:

        0 20px 40px rgba(0, 0, 0, .4);


}



.hero h2 {


    font-size: 40px;


}



.hero p {


    font-size: 20px;


    max-width: 700px;


    margin: auto;


}



/* Button */


.hero-btn {


    display: inline-block;


    margin-top: 25px;


    padding: 15px 35px;


    background: white;


    color: #4B0082;


    text-decoration: none;


    border-radius: 30px;


    font-weight: bold;


    transition: .3s;


}



.hero-btn:hover {


    transform: scale(1.1);


    background: #111;


    color: white;


}

video {

    max-width: 100%;

    height: auto;

}

/* Moving Gradient */


@keyframes heroMove {


    from {

        background-position: left;

    }


    to {

        background-position: right;

    }


}



/* Premium AI Cards */


.card-container {


    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 30px;


}



.card {


    width: 300px;

    background: white;


    border-radius: 20px;


    overflow: hidden;


    box-shadow:

        0 10px 25px rgba(0, 0, 0, 0.15);


    transition: 0.4s;


}



.card:hover {


    transform: translateY(-15px);


    box-shadow:

        0 20px 40px rgba(75, 0, 130, 0.4);


}



.card-img {


    overflow: hidden;


}



.card img {


    width: 100%;

    height: 200px;

    object-fit: cover;


    transition: 0.5s;


}



.card:hover img {


    transform: scale(1.1);


}



.card-content {


    padding: 20px;


    text-align: center;


}



.card-content h3 {


    color: #4B0082;


}



.card-content button {


    background: #4B0082;


    color: white;


    border: none;


    padding: 10px 25px;


    border-radius: 20px;


    cursor: pointer;


    transition: 0.3s;


}



.card-content button:hover {


    background: #00cfd5;


    transform: scale(1.05);


}



.dark-mode .card {


    background: #1e1e1e;

    color: white;


}


.dark-mode .card-content h3 {


    color: #00ffff;


}




/* AI Gallery */


.gallery-section {


    padding: 50px 20px;

    text-align: center;


}



.gallery-section h2 {


    color: #4B0082;

    font-size: 35px;


}



.gallery-container {


    display: grid;


    grid-template-columns:

        repeat(auto-fit, minmax(250px, 1fr));


    gap: 25px;


    margin-top: 30px;


}



.gallery-item {


    background: white;


    border-radius: 20px;


    overflow: hidden;


    box-shadow:

        0 10px 25px rgba(0, 0, 0, .15);


    transition: .4s;


}



.gallery-item:hover {


    transform: translateY(-10px);


}



.gallery-item img {


    width: 100%;


    height: 220px;


    object-fit: cover;


    transition: .5s;


}



.gallery-item:hover img {


    transform: scale(1.1);


}



.gallery-item h3 {


    padding: 15px;


    color: #4B0082;


}



/* Dark Mode */


.dark-mode .gallery-item {


    background: #1e1e1e;


}



.dark-mode .gallery-item h3 {


    color: #00ffff;


}



.dark-mode .gallery-section h2 {


    color: #00ffff;


}



/* AI News Section */


.news-section {

    padding: 50px 20px;

    text-align: center;

}



.news-section h2 {

    color: #4B0082;

    font-size: 35px;

}



.news-container {


    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 30px;

    margin-top: 30px;

}



.news-card {


    width: 300px;


    background: white;


    padding: 25px;


    border-radius: 20px;


    text-align: left;


    box-shadow:

        0 10px 25px rgba(0, 0, 0, .15);


    transition: .4s;


}



.news-card:hover {


    transform: translateY(-12px);


}



.news-card span {


    background: #4B0082;


    color: white;


    padding: 5px 15px;


    border-radius: 20px;


}



.news-card h3 {


    margin-top: 20px;

    color: #4B0082;


}



.news-card a {


    color: #00a9b5;


    text-decoration: none;


    font-weight: bold;


}



/* Dark Mode */


.dark-mode .news-card {


    background: #1e1e1e;

    color: white;


}



.dark-mode .news-card h3 {


    color: #00ffff;


}



.dark-mode .news-section h2 {


    color: #00ffff;


}




/* Statistics Section */


.stats {


    text-align: center;

    padding: 50px 20px;

}



.stats h2 {


    color: #4B0082;

    margin-bottom: 40px;


}



.stats-container {


    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 40px;


}



.stat-box {


    width: 200px;

    padding: 25px;


    background: white;


    border-radius: 20px;


    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);


    transition: .4s;


}



.stat-box:hover {


    transform: translateY(-10px);


}



.stat-box h1 {


    font-size: 45px;

    color: #4B0082;


}



.stat-box p {


    font-size: 20px;


}



/* Dark Mode */


.dark-mode .stat-box {


    background: #1e1e1e;

    color: white;


}


.dark-mode .stats h2 {


    color: #00ffff;


}



/* Back To Top Button */

#topBtn {


    position: fixed;

    bottom: 30px;

    right: 30px;


    width: 50px;

    height: 50px;


    border: none;

    border-radius: 50%;


    background: #4B0082;

    color: white;


    font-size: 25px;


    cursor: pointer;


    display: none;


    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);


    transition: 0.3s;


}



#topBtn:hover {


    background: #00cfd5;

    transform: translateY(-5px);


}


/* Tutorial Section */


.tutorial-section {

    padding: 50px 20px;

    text-align: center;

}



.tutorial-section h2 {

    font-size: 35px;

    color: #4B0082;

}



.tutorial-container {


    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 30px;

    margin-top: 30px;


}



.tutorial-card {


    width: 280px;


    padding: 30px;


    background: white;


    border-radius: 20px;


    box-shadow:

        0 10px 25px rgba(0, 0, 0, .15);


    transition: .4s;


}



.tutorial-card:hover {


    transform: translateY(-12px);


}



.tutorial-card h3 {


    color: #4B0082;


}



.tutorial-card button {


    margin-top: 20px;


    padding: 10px 25px;


    border: none;


    border-radius: 25px;


    background: #4B0082;


    color: white;


    cursor: pointer;


    transition: .3s;


}



.tutorial-card button:hover {


    background: #00cfd5;


    transform: scale(1.05);


}



/* Dark Mode */


.dark-mode .tutorial-card {


    background: #1e1e1e;

    color: white;


}



.dark-mode .tutorial-card h3 {


    color: #00ffff;


}



.dark-mode .tutorial-section h2 {


    color: #00ffff;


}


.footer {


    background: #4B0082;

    color: white;

    padding: 40px 20px;

    margin-top: 50px;


}



.footer-container {


    display: flex;

    justify-content: space-around;

    flex-wrap: wrap;

    gap: 30px;


}



.footer-box {


    max-width: 250px;


}



.footer-box h2,
.footer-box h3 {


    color: #00ffff;


}



.footer-box a {


    display: block;

    color: white;

    text-decoration: none;

    margin: 10px 0;


}



.footer-box a:hover {


    color: #00ffff;

    transform: translateX(5px);

    transition: .3s;


}



.copyright {


    text-align: center;

    margin-top: 20px;


}


/* Mobile Responsive Design */


@media(max-width:768px) {



    body {

        overflow-x: hidden;

    }



    /* Header */


    h1 {

        font-size: 28px;

    }


    h2 {

        font-size: 24px;

    }



    /* Navigation */


    nav {

        display: none;

    }



    /* Sidebar */


    .sidebar {

        width: 80%;

    }



    /* Hero */


    .hero img {

        width: 95%;

    }


    .hero h2 {

        font-size: 28px;

    }


    .hero p {

        font-size: 16px;

    }



    /* Cards */


    .card-container {

        flex-direction: column;

        align-items: center;

    }


    .card {

        width: 90%;

    }



    /* Gallery */


    .gallery-container {

        grid-template-columns: 1fr;

    }



    /* News */


    .news-container {

        flex-direction: column;

        align-items: center;

    }



    .news-card {

        width: 90%;

    }



    /* Tutorials */


    .tutorial-container {

        flex-direction: column;

        align-items: center;

    }



    .tutorial-card {

        width: 90%;

    }



    /* Statistics */


    .stats-container {

        flex-direction: column;

        align-items: center;

    }



    /* Footer */


    .footer-container {

        flex-direction: column;

        text-align: center;

    }



    .theme-toggle {

        right: 15px;

        top: 15px;

    }


}


/* AI Tools Page */


.tools-page {


    text-align: center;

    padding: 50px 20px;


}



.tool-container {


    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 30px;


}



.tool-card {


    width: 300px;


    background: white;


    padding: 30px;


    border-radius: 25px;


    box-shadow:

        0 10px 25px rgba(0, 0, 0, .15);


    transition: .4s;


    position: relative;


}



.tool-card:hover {


    transform: translateY(-15px);


    box-shadow:

        0 20px 40px rgba(75, 0, 130, .4);


}



.badge {


    position: absolute;


    top: 20px;


    right: 20px;


    background: #00cfd5;


    color: white;


    padding: 5px 15px;


    border-radius: 20px;


    font-size: 14px;


}



.paid {


    background: #ff4d4d;


}



.rating {


    font-size: 20px;


    margin: 15px;


}



.tool-btn {


    display: inline-block;


    background: #4B0082;


    color: white;


    padding: 12px 25px;


    border-radius: 25px;


    text-decoration: none;


    transition: .3s;


}



.tool-btn:hover {


    background: #00cfd5;


}



.dark-mode .tool-card {


    background: #1e1e1e;

    color: white;


}


/* Favorite Button */


.favorite-btn{


margin-top:15px;


padding:10px 20px;


border:none;


border-radius:25px;


background:#ff4d6d;


color:white;


cursor:pointer;


transition:.3s;


}



.favorite-btn:hover{


transform:scale(1.1);


}


.favorites-section{


text-align:center;

padding:50px 20px;


}



#favoriteList{


display:flex;

justify-content:center;

flex-wrap:wrap;

gap:30px;


}

img{

    max-width:100%;

    height:auto;

}

body{

animation:pageLoad .5s ease;

}


@keyframes pageLoad{


from{

opacity:0;

}


to{

opacity:1;

}


}







.sidebar a.logout {
    background: #ff4d4d;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

.sidebar a.logout:hover {
    background: #ff1f1f;
}